<div class="p-grid p-justify-center" id="footer">
  <div class="p-col" style="text-align:center;">
    <span style="font-size:2em;">Company</span><br />
    Videos<br />
    Podcasts<br />
    Blog<br />
    Contact Us
  </div>
  <div class="p-col" style="text-align:center;">
    <span style="font-size:2em;">Legal</span><br />
    Privacy Policy<br />
    Legal Notices<br />
  </div>
  <div class="p-col" style="text-align:center;">
    <span style="font-size:2em;">Help</span><br />
    Documentation<br />
    eLearning<br />
    Support
  </div>
  <div class="p-col" style="text-align:center;">
    <span style="font-size:2em;">Follow Us</span><br />
    <i class="fab fa-facebook" style="font-size:2em;"></i>
    <i class="fab fa-twitter" style="font-size:2em;"></i>
    <i class="fab fa-youtube" style="font-size:2em;"></i>
    <i class="fab fa-instagram" style="font-size:2em;"></i>
    <i class="fab fa-linkedin" style="font-size:2em;"></i>
  </div><br />
  <div class="p-grid p-justify-center" id="bottom">
  2019 Solidarity HealthShare
  </div>
</div>

